<div class="flex flex-col flex-auto min-w-0">
    <div class="bg-card">
        <div class="mx-auto px-6 sm:px-20">

            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <div class="flex flex-auto items-center min-w-0">
                    <div class="text-2xl md:text-6xl font-bold tracking-tight leading-7 md:leading-snug truncate">
                        Historial de Gastos
                    </div>
                </div>

                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <form [formGroup]="filtersForm">
                        <mat-form-field style="width: 270px;">
                            <mat-label>Fecha de Factura</mat-label>
                            <mat-date-range-input [rangePicker]="picker" formGroupName="dates">
                                <input matStartDate formControlName="start" placeholder="Fecha Inicial">
                                <input matEndDate formControlName="end" placeholder="Fecha Final">
                            </mat-date-range-input>
                            <mat-hint>D/MMM/YYYY – D/MMM/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                        &nbsp;
                        <mat-form-field style="width: 310px;">
                            <mat-label>Asesores</mat-label>
                            <mat-select formControlName="salesAgent">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="salesAgentFilterCtrl"
                                        placeholderLabel="Buscar asesor" noEntriesFoundLabel="No encontrado">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let agent of searchSalesAgents" [value]="agent.personalCode">
                                    {{ agent.personalCode }} - {{ agent.name }}
                                </mat-option>
                            </mat-select>
                            <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:bookmark'"></mat-icon>
                            <mat-error> La cuenta es requerida </mat-error>
                        </mat-form-field>
                        &nbsp;
                        <mat-form-field style="width: 310px;">
                            <mat-label>Tipos de Gastos</mat-label>
                            <mat-select formControlName="expenseType">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="expenseFilterCtrl"
                                        placeholderLabel="Buscar asesor" noEntriesFoundLabel="No encontrado">
                                    </ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let type of searchExpenseTypes" [value]="type.id">
                                    {{ type.name }}
                                </mat-option>
                            </mat-select>
                            <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:bookmark'"></mat-icon>
                            <mat-error> El tipo de gasto es requerido </mat-error>
                        </mat-form-field>
                    </form>

                    <button [disabled]="filtersForm.invalid" (click)="getHistorical()">
                        <mat-icon aria-hidden="false" aria-label="Refrescar" fontIcon="refresh"></mat-icon>
                    </button>

                    <button mat-flat-button class="mat-mdc-unelevated-button centered-button" (click)="downloadExcel()"
                        [disabled]="this.details.length === 0 || this.expenseTypes.length === 0 || filtersForm.invalid" style="background-color: #106b04; color: white;">
                        <mat-icon>table_view</mat-icon>
                        <span class="ml-2 mr-1">Generar Excel</span>
                    </button>

                </div>

            </div>

        </div>
    </div>

    <app-card>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
            </ng-container>

            <ng-container matColumnDef="expenseType">
                <th mat-header-cell *matHeaderCellDef> Tipo de Gasto
                    <button mat-icon-button [matMenuTriggerFor]="expenseTypeMenu">
                        <mat-icon>filter_list</mat-icon>
                    </button>
                    <mat-menu #expenseTypeMenu="matMenu" class="custom-mat-menu">
                        <button mat-menu-item (click)="sortTable('expenseType', 'asc');">
                            <mat-icon style="color: rgb(88, 172, 11);">swap_vert</mat-icon>
                            A-Z
                        </button>
                        <button mat-menu-item (click)="sortTable('expenseType', 'desc');">
                            <mat-icon style="color: rgb(202, 148, 0);">swap_vert</mat-icon>
                            Z-A
                        </button>
                        <div (click)="$event.stopPropagation();">
                            <mat-form-field style="width: 95%; margin-left: 2%;">
                                <input matInput (input)="filterExpenseTypeValues($event.target.value)"
                                    placeholder="Type to search" />
                            </mat-form-field>
                        </div>
                        <button mat-menu-item (click)="clearColumnFilter('expenseType');">
                            Limpiar Filtro
                        </button>
                        <mat-divider></mat-divider>
                        <div (click)="$event.stopPropagation();">
                            <mat-checkbox *ngFor="let value of filteredExpenseTypeValues"
                                [checked]="selectedFilters.expenseType.has(value)"
                                (change)="onFilterChange('expenseType', value, $event.checked);">
                                {{ value }}
                            </mat-checkbox>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.expenseCategory.expenseType.name}} </td>
            </ng-container>

            <ng-container matColumnDef="expenseCategory">
                <th mat-header-cell *matHeaderCellDef> Categoría de Gasto
                    <button mat-icon-button [matMenuTriggerFor]="expenseCategoryMenu">
                        <mat-icon>filter_list</mat-icon>
                    </button>
                    <mat-menu #expenseCategoryMenu="matMenu" class="custom-mat-menu">
                        <button mat-menu-item (click)="sortTable('expenseCategory', 'asc');">
                            <mat-icon style="color: rgb(88, 172, 11);">swap_vert</mat-icon>
                            A-Z
                        </button>
                        <button mat-menu-item (click)="sortTable('expenseCategory', 'desc');">
                            <mat-icon style="color: rgb(202, 148, 0);">swap_vert</mat-icon>
                            Z-A
                        </button>
                        <div (click)="$event.stopPropagation();">
                            <mat-form-field style="width: 95%; margin-left: 2%;">
                                <input matInput (input)="filterExpenseCategoryValues($event.target.value)"
                                    placeholder="Type to search" />
                            </mat-form-field>
                        </div>
                        <button mat-menu-item (click)="clearColumnFilter('expenseCategory');">
                            Limpiar Filtro
                        </button>
                        <mat-divider></mat-divider>
                        <div (click)="$event.stopPropagation();">
                            <mat-checkbox *ngFor="let value of filteredExpenseCategoryValues"
                                [checked]="selectedFilters.expenseCategory.has(value)"
                                (change)="onFilterChange('expenseCategory', value, $event.checked);">
                                {{ value }}
                            </mat-checkbox>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.expenseCategory.name}} </td>
            </ng-container>

            <ng-container matColumnDef="seriesNum">
                <th mat-header-cell *matHeaderCellDef> Número de Serie
                    <button mat-icon-button [matMenuTriggerFor]="seriesNumMenu">
                        <mat-icon>filter_list</mat-icon>
                    </button>
                    <mat-menu #seriesNumMenu="matMenu" class="custom-mat-menu">
                        <button mat-menu-item (click)="sortTable('seriesNum', 'asc');">
                            <mat-icon style="color: rgb(88, 172, 11);">swap_vert</mat-icon>
                            A-Z
                        </button>
                        <button mat-menu-item (click)="sortTable('seriesNum', 'desc');">
                            <mat-icon style="color: rgb(202, 148, 0);">swap_vert</mat-icon>
                            Z-A
                        </button>
                        <div (click)="$event.stopPropagation();">
                            <mat-form-field style="width: 95%; margin-left: 2%;">
                                <input matInput (input)="filterSeriesNumValues($event.target.value)"
                                    placeholder="Type to search" />
                            </mat-form-field>
                        </div>
                        <button mat-menu-item (click)="clearColumnFilter('seriesNum');">
                            Limpiar Filtro
                        </button>
                        <mat-divider></mat-divider>
                        <div (click)="$event.stopPropagation();">
                            <mat-checkbox *ngFor="let value of filteredSeriesNumValues"
                                [checked]="selectedFilters.seriesNum.has(value)"
                                (change)="onFilterChange('seriesNum', value, $event.checked);">
                                {{ value }}
                            </mat-checkbox>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.seriesNum}} </td>
            </ng-container>

            <ng-container matColumnDef="invoiceId">
                <th mat-header-cell *matHeaderCellDef> Número de Factura
                    <button mat-icon-button [matMenuTriggerFor]="invoiceIdMenu">
                        <mat-icon>filter_list</mat-icon>
                    </button>
                    <mat-menu #invoiceIdMenu="matMenu" class="custom-mat-menu">
                        <button mat-menu-item (click)="sortTable('invoiceId', 'asc');">
                            <mat-icon style="color: rgb(88, 172, 11);">swap_vert</mat-icon>
                            A-Z
                        </button>
                        <button mat-menu-item (click)="sortTable('invoiceId', 'desc');">
                            <mat-icon style="color: rgb(202, 148, 0);">swap_vert</mat-icon>
                            Z-A
                        </button>
                        <div (click)="$event.stopPropagation();">
                            <mat-form-field style="width: 95%; margin-left: 2%;">
                                <input matInput (input)="filterInvoiceIdValues($event.target.value)"
                                    placeholder="Type to search" />
                            </mat-form-field>
                        </div>
                        <button mat-menu-item (click)="clearColumnFilter('invoiceId');">
                            Limpiar Filtro
                        </button>
                        <mat-divider></mat-divider>
                        <div (click)="$event.stopPropagation();">
                            <mat-checkbox *ngFor="let value of filteredInvoiceIdValues"
                                [checked]="selectedFilters.invoiceId.has(value)"
                                (change)="onFilterChange('invoiceId', value, $event.checked);">
                                {{ value }}
                            </mat-checkbox>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.invoiceId}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descripción
                    <button mat-icon-button [matMenuTriggerFor]="descriptionMenu">
                        <mat-icon>filter_list</mat-icon>
                    </button>
                    <mat-menu #descriptionMenu="matMenu" class="custom-mat-menu">
                        <button mat-menu-item (click)="sortTable('description', 'asc');">
                            <mat-icon style="color: rgb(88, 172, 11);">swap_vert</mat-icon>
                            A-Z
                        </button>
                        <button mat-menu-item (click)="sortTable('description', 'desc');">
                            <mat-icon style="color: rgb(202, 148, 0);">swap_vert</mat-icon>
                            Z-A
                        </button>
                        <div (click)="$event.stopPropagation();">
                            <mat-form-field style="width: 95%; margin-left: 2%;">
                                <input matInput (input)="filterDescriptionValues($event.target.value)"
                                    placeholder="Type to search" />
                            </mat-form-field>
                        </div>
                        <button mat-menu-item (click)="clearColumnFilter('description');">
                            Limpiar Filtro
                        </button>
                        <mat-divider></mat-divider>
                        <div (click)="$event.stopPropagation();">
                            <mat-checkbox *ngFor="let value of filteredDescriptionValues"
                                [checked]="selectedFilters.description.has(value)"
                                (change)="onFilterChange('description', value, $event.checked);">
                                {{ value }}
                            </mat-checkbox>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="gravadoAmount">
                <th mat-header-cell *matHeaderCellDef> Importe Gravado
                    <button mat-icon-button [matMenuTriggerFor]="gravadoAmountMenu">
                        <mat-icon>filter_list</mat-icon>
                    </button>
                    <mat-menu #gravadoAmountMenu="matMenu" class="custom-mat-menu">
                        <button mat-menu-item (click)="sortTable('gravadoAmount', 'desc')">
                            <mat-icon style="color: rgb(88, 172, 11);">swap_vert</mat-icon>
                            Mayor a Menor
                        </button>
                        <button mat-menu-item (click)="sortTable('gravadoAmount', 'asc')">
                            <mat-icon style="color: rgb(202, 148, 0);">swap_vert</mat-icon>
                            Menor a Mayor
                        </button>
                        <div (click)="$event.stopPropagation();">
                            <mat-form-field style="width: 95%; margin-left: 2%;">
                                <input matInput (input)="filterGravadoValues($event.target.value)"
                                    placeholder="Type to search" />
                            </mat-form-field>
                        </div>
                        <button mat-menu-item (click)="clearColumnFilter('gravadoAmount');">
                            Limpiar Filtro
                        </button>
                        <mat-divider></mat-divider>
                        <div (click)="$event.stopPropagation();">
                            <mat-checkbox *ngFor="let value of filteredGravadoValues"
                                [checked]="selectedFilters.gravadoAmount.has(value)"
                                (change)="onFilterChange('gravadoAmount', value, $event.checked);">
                                {{ value }}
                            </mat-checkbox>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.gravadoAmount | currencyByCompany}} </td>
            </ng-container>

            <ng-container matColumnDef="invoiceAmount">
                <th mat-header-cell *matHeaderCellDef> Importe de Factura
                    <button mat-icon-button [matMenuTriggerFor]="invoiceAmountMenu">
                        <mat-icon>filter_list</mat-icon>
                    </button>
                    <mat-menu #invoiceAmountMenu="matMenu" class="custom-mat-menu">
                        <button mat-menu-item (click)="sortTable('invoiceAmount', 'desc')">
                            <mat-icon style="color: rgb(88, 172, 11);">swap_vert</mat-icon>
                            Mayor a Menor
                        </button>
                        <button mat-menu-item (click)="sortTable('invoiceAmount', 'asc')">
                            <mat-icon style="color: rgb(202, 148, 0);">swap_vert</mat-icon>
                            Menor a Mayor
                        </button>
                        <div (click)="$event.stopPropagation();">
                            <mat-form-field style="width: 95%; margin-left: 2%;">
                                <input matInput (input)="filterInvoiceAmountValues($event.target.value)"
                                    placeholder="Type to search" />
                            </mat-form-field>
                        </div>
                        <button mat-menu-item (click)="clearColumnFilter('invoiceAmount');">
                            Limpiar Filtro
                        </button>
                        <mat-divider></mat-divider>
                        <div (click)="$event.stopPropagation();">
                            <mat-checkbox *ngFor="let value of filteredInvoiceAmountValues"
                                [checked]="selectedFilters.invoiceAmount.has(value)"
                                (change)="onFilterChange('invoiceAmount', value, $event.checked);">
                                {{ value }}
                            </mat-checkbox>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.invoiceAmount | currencyByCompany}} </td>
            </ng-container>

            <ng-container matColumnDef="invoiceDate">
                <th mat-header-cell *matHeaderCellDef> Fecha de Factura </th>
                <td mat-cell *matCellDef="let element"> {{element.invoiceDate | date: 'dd/MMM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Estado
                    <button mat-icon-button [matMenuTriggerFor]="statusMenu">
                        <mat-icon>filter_list</mat-icon>
                    </button>
                    <mat-menu #statusMenu="matMenu" class="custom-mat-menu">
                        <button mat-menu-item (click)="sortTable('status', 'asc');">
                            <mat-icon style="color: rgb(88, 172, 11);">swap_vert</mat-icon>
                            A-Z
                        </button>
                        <button mat-menu-item (click)="sortTable('status', 'desc');">
                            <mat-icon style="color: rgb(202, 148, 0);">swap_vert</mat-icon>
                            Z-A
                        </button>
                        <div (click)="$event.stopPropagation();">
                            <mat-form-field style="width: 95%; margin-left: 2%;">
                                <input matInput (input)="filterStatusValues($event.target.value)"
                                    placeholder="Type to search" />
                            </mat-form-field>
                        </div>
                        <button mat-menu-item (click)="clearColumnFilter('status');">
                            Limpiar Filtro
                        </button>
                        <mat-divider></mat-divider>
                        <div (click)="$event.stopPropagation();">
                            <mat-checkbox *ngFor="let value of filteredStatusValues"
                                [checked]="selectedFilters.status.has(value)"
                                (change)="onFilterChange('status', value, $event.checked);">
                                {{ value }}
                            </mat-checkbox>
                        </div>
                    </mat-menu>
                </th>
                <td mat-cell *matCellDef="let element">
                    @if(element.statusId == 1){
                    <button mat-flat-button
                    style="color: #000000; background-color: #3f3f3fb2; border: 2px solid #000000">{{element.status.name}}</button>

                    }@else if(element.statusId == 2){
                    <button mat-flat-button
                        style="color: #03af2e; background-color: #84e088b2; border: 2px solid #03af2e">{{element.status.name}}</button>
                    }@else if(element.statusId == 3){
                    <button mat-flat-button
                        style="color: #d30314; background-color: #f39191b2; border: 2px solid #d30314">{{element.status.name}}</button>
                    }@else{
                    <button mat-flat-button
                        style="color: #cc8603; background-color: #f3d191b2; border: 2px solid #cc8603">{{element.status.name}}</button>
                    }
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab aria-label="Ver" title="Ver">
                        <i class="fa-solid fa-eye fa-xl"></i>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="eraseFilters">
                <th mat-header-cell *matHeaderCellDef>
                    <button (click)="resetFilters()" [disabled]="this.details.length <= 0"
                        style="background-color: #920101; color: white;" mat-mini-fab
                        aria-label="Borrar todos los filtros">
                        <mat-icon>filter_list_off</mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSize]="itemsPerPage" [pageSizeOptions]="pageSize" showFirstLastButtons>
        </mat-paginator>
    </app-card>
</div>

<ng-template #TypeDialogTemplate>

</ng-template>

<app-loading [body]="body"></app-loading>