<button mat-flat-button class="mat-mdc-unelevated-button centered-button"
    style="background-color: #135880; color: white;" (click)="openCreateDate(newDateDialog)">
    <mat-icon style="font-size: 20px;">add_circle</mat-icon>
    <span class="ml-2 mr-1">Nueva Fecha</span>
</button>

<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
    </ng-container>

    <ng-container matColumnDef="month">
        <th mat-header-cell *matHeaderCellDef> Mes
            <button mat-icon-button [matMenuTriggerFor]="monthMenu">
                <mat-icon>filter_list</mat-icon>
            </button>
            <mat-menu #monthMenu="matMenu" class="custom-mat-menu">
                <button mat-menu-item (click)="sortTable('month', 'asc');">
                    <mat-icon style="color: rgb(88, 172, 11);">swap_vert</mat-icon>
                    A-Z
                </button>
                <button mat-menu-item (click)="sortTable('month', 'desc');">
                    <mat-icon style="color: rgb(202, 148, 0);">swap_vert</mat-icon>
                    Z-A
                </button>
                <div (click)="$event.stopPropagation();">
                    <mat-form-field style="width: 95%; margin-left: 2%;">
                        <input matInput (input)="filterMonthValues($event.target.value)" placeholder="Type to search" />
                    </mat-form-field>
                </div>
                <button mat-menu-item (click)="clearColumnFilter('month');">
                    Limpiar Filtro
                </button>
                <mat-divider></mat-divider>
                <div (click)="$event.stopPropagation();">
                    <mat-checkbox *ngFor="let value of filteredMonthValues" [checked]="selectedFilters.month.has(value)"
                        (change)="onFilterChange('month', value, $event.checked);">
                        {{ value | monthName }}
                    </mat-checkbox>
                </div>
            </mat-menu>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.month | monthName}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Fecha de Inicio
            <button mat-icon-button [matMenuTriggerFor]="startMenu">
                <mat-icon>filter_list</mat-icon>
            </button>
            <mat-menu #startMenu="matMenu" class="custom-mat-menu">
                <button mat-menu-item (click)="sortTable('startDate', 'asc');">
                    <mat-icon style="color: rgb(88, 172, 11);">swap_vert</mat-icon>
                    A-Z
                </button>
                <button mat-menu-item (click)="sortTable('startDate', 'desc');">
                    <mat-icon style="color: rgb(202, 148, 0);">swap_vert</mat-icon>
                    Z-A
                </button>
                <div (click)="$event.stopPropagation();">
                    <mat-form-field style="width: 95%; margin-left: 2%;">
                        <input matInput (input)="filterStartValues($event.target.value)" placeholder="Type to search" />
                    </mat-form-field>
                </div>
                <button mat-menu-item (click)="clearColumnFilter('startDate');">
                    Limpiar Filtro
                </button>
                <mat-divider></mat-divider>
                <div (click)="$event.stopPropagation();">
                    <mat-checkbox *ngFor="let value of filteredStartValues"
                        [checked]="selectedFilters.startDate.has(value)"
                        (change)="onFilterChange('startDate', value, $event.checked);">
                        {{ value }}
                    </mat-checkbox>
                </div>
            </mat-menu>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> Fecha de Fin
            <button mat-icon-button [matMenuTriggerFor]="endMenu">
                <mat-icon>filter_list</mat-icon>
            </button>
            <mat-menu #endMenu="matMenu" class="custom-mat-menu">
                <button mat-menu-item (click)="sortTable('endDate', 'asc');">
                    <mat-icon style="color: rgb(88, 172, 11);">swap_vert</mat-icon>
                    A-Z
                </button>
                <button mat-menu-item (click)="sortTable('endDate', 'desc');">
                    <mat-icon style="color: rgb(202, 148, 0);">swap_vert</mat-icon>
                    Z-A
                </button>
                <div (click)="$event.stopPropagation();">
                    <mat-form-field style="width: 95%; margin-left: 2%;">
                        <input matInput (input)="filterEndValues($event.target.value)" placeholder="Type to search" />
                    </mat-form-field>
                </div>
                <button mat-menu-item (click)="clearColumnFilter('endDate');">
                    Limpiar Filtro
                </button>
                <mat-divider></mat-divider>
                <div (click)="$event.stopPropagation();">
                    <mat-checkbox *ngFor="let value of filteredEndValues" [checked]="selectedFilters.endDate.has(value)"
                        (change)="onFilterChange('endDate', value, $event.checked);">
                        {{ value }}
                    </mat-checkbox>
                </div>
            </mat-menu>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button (click)="deleteDate(element)" [color]="'warn'" mat-mini-fab aria-label="Eliminar" title="Eliminar">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="eraseFilters">
        <th mat-header-cell *matHeaderCellDef>
            <button (click)="resetFilters()" [disabled]="this.paymentDates.length <= 0"
                style="background-color: #920101; color: white;" mat-mini-fab aria-label="Borrar todos los filtros">
                <mat-icon>filter_list_off</mat-icon>
            </button>
        </th>
        <td mat-cell *matCellDef="let element"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="itemsPerPage" [pageSizeOptions]="pageSize" showFirstLastButtons>
</mat-paginator>

<ng-template #newDateDialog>
    <div class="dialog-content">
        <div class="dialog-header-card">
            <h2 class="dialog-title">Nueva Fecha de Pago</h2>
        </div>

        <form [formGroup]="paymentDatesForm">
            <div class="flex">
                <mat-form-field class="flex-auto">
                    <mat-label>Año</mat-label>
                    <mat-select formControlName="year">
                        <mat-option *ngFor="let fiscalYear of fiscalYears" [value]="fiscalYear.year">
                            {{fiscalYear.year}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:bookmark'"></mat-icon>
                    <mat-error> El año es obligatorio </mat-error>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="flex-auto">
                    <mat-label>Mes</mat-label>
                    <mat-select formControlName="month">
                        <mat-option *ngFor="let month of months" [value]="month.value">
                            {{month.value | monthName}}
                        </mat-option>
                    </mat-select>
                    <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:bookmark'"></mat-icon>
                    <mat-error> El mes es obligatorio </mat-error>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="flex-auto">
                    <mat-label>Fecha de Inicio</mat-label>
                    <input style="width: 100%;" class="text-left" type="number" matInput formControlName="startDate"
                        min="1" max="31">
                    <mat-hint>Fecha de inicio</mat-hint>
                    <mat-error> La fecha es requerida </mat-error>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="flex-auto">
                    <mat-label>Fecha de Fin</mat-label>
                    <input style="width: 100%;" class="text-left" type="number" matInput formControlName="endDate"
                        min="1" max="31">
                    <mat-hint>Fecha de fin</mat-hint>
                    <mat-error> La fecha es requerida </mat-error>
                </mat-form-field>
            </div>
        </form>

        <div class="flex">
            <button style="margin-top: 3%;" class="flex-auto" [disabled]="paymentDatesForm.invalid" (click)="postDate()" mat-flat-button
                [color]="'primary'">
                <mat-icon>add</mat-icon>
                <span class="ml-2 mr-1">Crear Fecha</span>
            </button>
        </div>
    </div>
</ng-template>